<app-navbar-reconecta></app-navbar-reconecta>
<div class="container">
  <form [formGroup]="entrevistaForm" (ngSubmit)="onSubmit()" class="form-card">

    <h1 style="color: var(--text-primary); margin-bottom: 2rem; font-size: 1.8rem; text-align: center;">Evaluación Clínica y Social</h1>

    <div class="section-header">
      <h2>1. Generales</h2>
    </div>
    <div class="section-body">
      <div class="form-grid">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text"
       formControlName="nombre"
       (input)="soloLetras($event)">

<div class="error"
 *ngIf="entrevistaForm.get('nombre')?.invalid && entrevistaForm.get('nombre')?.touched">
  Nombre obligatorio (solo letras)
</div>
        </div>
        <div class="form-group">
          <label>Edad</label>
          <input type="number" formControlName="edad">
          <div class="error"
 *ngIf="entrevistaForm.get('edad')?.invalid && entrevistaForm.get('edad')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Sobrenombre</label>
          <input type="text" formControlName="sobrenombre">
          <div class="error"
 *ngIf="entrevistaForm.get('sobrenombre')?.invalid && entrevistaForm.get('sobrenombre')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Fecha de nacimiento</label>
          <input type="date" formControlName="fechaNacimiento">
          <div class="error"
 *ngIf="entrevistaForm.get('fechaNacimiento')?.invalid && entrevistaForm.get('fechaNacimiento')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>CURP</label>
          <input type="text" formControlName="curp" maxlength="18">
          <div class="error"
 *ngIf="entrevistaForm.get('curp')?.invalid && entrevistaForm.get('curp')?.touched">
   CURP inválida</div>

  <div class="error"
 *ngIf="entrevistaForm.get('curp')?.invalid && entrevistaForm.get('curp')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Originario</label>
          <input type="text" formControlName="originario">
          <div class="error"
 *ngIf="entrevistaForm.get('originario')?.invalid && entrevistaForm.get('originario')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Teléfono</label>
<input type="text"
       formControlName="telefono"
       (input)="soloNumeros($event)">          
       <div class="error"
 *ngIf="entrevistaForm.get('telefono')?.invalid && entrevistaForm.get('telefono')?.touched">
          Debe tener 10 dígitos</div>
        </div>
        <div class="form-group">
          <label>Escolaridad</label>
         <select formControlName="escolaridad">
                  <option value="">Selecciona</option>
                  <option>Primaria</option>
                  <option>Secundaria</option>
                  <option>Preparatoria</option>
                  <option>Licenciatura</option>
                  <option>Posgrado</option>
                  <option>Ninguna</option>
                </select>
        </div>
        <div class="form-group">
          <label>Estado Civil</label>
         <select formControlName="estadoCivil">
                  <option value="">Selecciona</option>
                  <option value="Soltero">Soltero</option>
                  <option value="Casado">Casado</option>
                  <option value="Unión libre">Unión libre</option>
                  <option value="Divorciado">Divorciado</option>
                  <option value="Viudo">Viudo</option>
                </select>
        </div>
        <div class="form-group">
          <label>Nacionalidad</label>
          <select formControlName="nacionalidad">
            <option value="">Selecciona</option>
            <option value="Mexicana">Mexicana</option>
            <option value="Extranjera">Extranjera</option>
            <option value="Otra">Otra</option>
          </select>
          <div class="error"
 *ngIf="entrevistaForm.get('nacionalidad')?.invalid && entrevistaForm.get('nacionalidad')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Lengua Indígena</label>
          <input type="text" formControlName="lenguaIndigena">
          <div class="error"
 *ngIf="entrevistaForm.get('lenguaIndigena')?.invalid && entrevistaForm.get('lenguaIndigena')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group">
          <label>Religión</label>
          <input type="text" formControlName="religion">
          <div class="error"
 *ngIf="entrevistaForm.get('religion')?.invalid && entrevistaForm.get('religion')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group full-width">
          <label>Ocupación</label>
          <input type="text" formControlName="ocupacion">
          <div class="error"
 *ngIf="entrevistaForm.get('ocupacion')?.invalid && entrevistaForm.get('ocupacion')?.touched">
  Campo obligatorio
</div>
        </div>
        <div class="form-group full-width">
          <label>Domicilio</label>
          <input type="text" formControlName="domicilio">
          <div class="error"
 *ngIf="entrevistaForm.get('domicilio')?.invalid && entrevistaForm.get('domicilio')?.touched">
  Campo obligatorio
</div>
        </div>
      </div>
    </div>

    <div class="section-header">
      <h2>2. Situación Jurídica</h2>
    </div>
    <div class="section-body">
      <div class="form-group" style="margin-bottom: 1.5rem;">
        <label>Fecha de Detención</label>
        <input type="date" formControlName="fechaDetencion">
        <div class="error"
 *ngIf="entrevistaForm.get('fechaDetencion')?.invalid && entrevistaForm.get('fechaDetencion')?.touched">
  Campo obligatorio
</div>
      </div>
      <div class="form-group" style="margin-bottom: 1.5rem;">
        <label>Falta cívica</label>
        <textarea formControlName="faltaCivica"></textarea>
        <div class="error"
 *ngIf="entrevistaForm.get('faltaCivica')?.invalid && entrevistaForm.get('faltaCivica')?.touched">
  Campo obligatorio
</div>
      </div>
      <div class="form-group">
        <label>Relato de los hechos</label>
        <textarea formControlName="relatoHechos"></textarea>
        <div class="error"
 *ngIf="entrevistaForm.get('relatoHechos')?.invalid && entrevistaForm.get('relatoHechos')?.touched">
  Campo obligatorio
</div>
      </div>
    </div>

    <div class="section-header">
      <h2>3. Núcleo Familiar</h2>
    </div>
    <div class="section-body">
      <div formArrayName="familiares" class="family-container">
        @for (familiar of familiares.controls; track $index; let i = $index) {
          <div [formGroupName]="i" class="family-card">
            <div class="family-grid">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text"
       formControlName="nombre"
       (input)="soloLetras($event)">

<div class="error"
 *ngIf="familiar.get('nombre')?.invalid && familiar.get('nombre')?.touched">
  Nombre obligatorio (solo letras)
</div>
              </div>
              <div class="form-group">
                <label>Parentesco</label>
                <input type="text" formControlName="parentesco">
                <div class="error"
 *ngIf="entrevistaForm.get('parentesco')?.invalid && entrevistaForm.get('parentesco')?.touched">
  Parentesco obligatorio
</div>
              </div>
              <div class="form-group">
                <label>Edad</label>
                <input type="number" formControlName="edad">
                <div class="error"
 *ngIf="entrevistaForm.get('edad')?.invalid && entrevistaForm.get('edad')?.touched">
  Edad obligatoria
</div>
              </div>
              <div class="form-group">
                <label>Estado Civil</label>
                <select formControlName="estadoCivil">
                  <option value="">Selecciona</option>
                  <option value="Soltero">Soltero</option>
                  <option value="Casado">Casado</option>
                  <option value="Unión libre">Unión libre</option>
                  <option value="Divorciado">Divorciado</option>
                  <option value="Viudo">Viudo</option>
                </select>
              </div>
              <div class="form-group">
                <label>Escolaridad</label>
                <select formControlName="escolaridad">
                  <option value="">Selecciona</option>
                  <option>Primaria</option>
                  <option>Secundaria</option>
                  <option>Preparatoria</option>
                  <option>Licenciatura</option>
                  <option>Posgrado</option>
                  <option>Ninguna</option>
                </select>
              </div>
              <div class="form-group">
                <label>Ocupación</label>
                <input type="text" formControlName="ocupacion">
                <div class="error"
 *ngIf="entrevistaForm.get('ocupacion')?.invalid && entrevistaForm.get('ocupacion')?.touched">
  Campo obligatorio
</div>
              </div>
            </div>
            <!-- <button type="button" class="btn-delete" (click)="removeFamiliar(i)">Eliminar</button> -->
          </div>
        }
      </div>

      <button type="button" class="btn-add" (click)="addFamiliar()">+ Agregar familiar</button>

      <div class="form-group">
        <label>Observaciones</label>
        <textarea formControlName="observacionesFamilia"></textarea>
        <div class="error"
 *ngIf="entrevistaForm.get('observacionesFamilia')?.invalid && entrevistaForm.get('observacionesFamilia')?.touched">
  Campo obligatorio
</div>
      </div>
    </div>

    
<div class="section-header">
  <h2>4. Uso de Sustancias</h2>
</div>

<div class="section-body">
  <div class="form-grid">

    <!-- CONSUMO -->
    <div class="form-group full-width">
      <label>¿Consume bebidas embriagantes o algún psicotrópico?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="consumeAlcohol"> Sí</label>
        <label><input type="radio" value="no" formControlName="consumeAlcohol"> No</label>
    <div class="error"
 *ngIf="entrevistaForm.get('consumeAlcohol')?.invalid && entrevistaForm.get('consumeAlcohol')?.touched">
  Campo obligatorio
</div>
      </div>

      <textarea *ngIf="consumeAlcohol"
        placeholder="Especifique"
        formControlName="especificaConsumo">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaConsumo')?.invalid && entrevistaForm.get('especificaConsumo')?.touched">
   Este campo es obligatorio
</div>
    </div>

    <!-- TERAPIAS -->
    <div class="form-group full-width">
      <label>¿Ha recibido terapias psicológicas o de otra índole?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="haRecibidoTerapias"> Sí</label>
        <label><input type="radio" value="no" formControlName="haRecibidoTerapias"> No</label>
      </div>

      <textarea *ngIf="haRecibidoTerapias"
        placeholder="Especifique"
        formControlName="especificaTerapias">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaTerapias')?.invalid && entrevistaForm.get('especificaTerapias')?.touched">
   Este campo es obligatorio
</div>
    </div>

    <!-- APOYO PSICOLÓGICO -->
    <div class="form-group full-width">
      <label>¿Necesita apoyo psicológico?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="necesitaApoyoPsicologico"> Sí</label>
        <label><input type="radio" value="no" formControlName="necesitaApoyoPsicologico"> No</label>
      </div>

      <textarea *ngIf="necesitaApoyoPsicologico"
        placeholder="Especifique"
        formControlName="especificaApoyo">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaApoyo')?.invalid && entrevistaForm.get('especificaApoyo')?.touched">
   Este campo es obligatorio
</div>
    </div>

    <!-- GRUPOS -->
    <div class="form-group full-width">
      <label>¿Acude a sesiones de grupos (AA, NA, etc.)?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="acudeSesionesGrupos"> Sí</label>
        <label><input type="radio" value="no" formControlName="acudeSesionesGrupos"> No</label>
      </div>

      <textarea *ngIf="acudeSesionesGrupos"
        placeholder="Especifique dónde"
        formControlName="especificaDonde">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaDonde')?.invalid && entrevistaForm.get('especificaDonde')?.touched">
  Este campo es obligatorio
</div>
    </div>

    <!-- REHABILITACIÓN -->
    <div class="form-group full-width">
      <label>¿Ha estado en rehabilitación o anexo?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="haEstadoRehabilitacion"> Sí</label>
        <label><input type="radio" value="no" formControlName="haEstadoRehabilitacion"> No</label>
      </div>

      <textarea *ngIf="haEstadoRehabilitacion"
        placeholder="Especifique en cuál"
        formControlName="especificaEnCual">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaEnCual')?.invalid && entrevistaForm.get('especificaEnCual')?.touched">
   Este campo es obligatorio
</div>
    </div>

    <!-- GRUPO CULTURAL -->
    <div class="form-group full-width">
      <label>¿Pertenece a algún grupo cultural, religioso o deportivo?</label>
      <div class="radio-group">
        <label><input type="radio" value="si" formControlName="perteneceGrupoCultural"> Sí</label>
        <label><input type="radio" value="no" formControlName="perteneceGrupoCultural"> No</label>
      </div>

      <textarea *ngIf="perteneceGrupoCultural"
        placeholder="Especifique"
        formControlName="especificaGrupo">
      </textarea>
      <div class="error"
 *ngIf="entrevistaForm.get('especificaGrupo')?.invalid && entrevistaForm.get('especificaGrupo')?.touched">
   Este campo es obligatorio
</div>
    </div>

  </div>
</div>




    <div class="section-header">
      <h2>5. Emociones</h2>
    </div>
    <div class="section-body">
      <div class="form-grid">
        <div class="form-group">
          <label>Miedo</label>
          <input type="text" formControlName="miedo">
        </div>
        <div class="form-group">
          <label>Alegría</label>
          <input type="text" formControlName="alegria">
        </div>
        <div class="form-group">
          <label>Enojo</label>
          <input type="text" formControlName="enojo">
        </div>
        <div class="form-group">
          <label>Tristeza</label>
          <input type="text" formControlName="tristeza">
        </div>
        <div class="form-group">
          <label>Amor</label>
          <input type="text" formControlName="amor">
        </div>
      </div>
    </div>

    <div class="section-header">
      <h2>6. Destrezas y Salud</h2>
    </div>
    <div class="section-body">
      <div class="form-grid">
        <div class="form-group">
          <label>Destrezas o habilidades</label>
          <textarea formControlName="destrezas"></textarea>
        </div>
        <div class="form-group">
          <label>Practica algún deporte</label>
          <textarea formControlName="deportes"></textarea>
        </div>
        <div class="form-group">
          <label>Actividades que realiza en su tiempo libre</label>
          <textarea formControlName="tiempoLibre"></textarea>
        </div>
        <div class="form-group">
          <label>Estado general de salud</label>
          <textarea formControlName="saludGeneral"></textarea>
        </div>
        <div class="form-group">
          <label>¿Padece alguna enfermedad crónico-degenerativa?</label>
          <div class="radio-group">
            <label><input type="radio" value="si" formControlName="enfermedadCronica"> Sí</label>
            <label><input type="radio" value="no" formControlName="enfermedadCronica"> No</label>
          </div>
        </div>
        <div class="form-group" *ngIf="enfermedadCronica">
          <label>¿Lleva tratamiento?</label>
          <div class="radio-group">
            <label><input type="radio" value="si" formControlName="llevaTratamiento"> Sí</label>
            <label><input type="radio" value="no" formControlName="llevaTratamiento"> No</label>
          </div>
          <textarea *ngIf="llevaTratamiento" placeholder="Indique cuál" formControlName="detalleTratamiento"></textarea>
        </div>
      </div>
    </div>

    <div class="section-header">
      <h2>7. Proyecto de Vida</h2>
    </div>
    <div class="section-body">
      <div class="form-grid">
        <div class="form-group">
          <label>Personal</label>
          <textarea formControlName="proyectoPersonal"></textarea>
        </div>
        <div class="form-group">
          <label>Familiar</label>
          <textarea formControlName="proyectoFamiliar"></textarea>
        </div>
        <div class="form-group">
          <label>Laboral</label>
          <textarea formControlName="proyectoLaboral"></textarea>
        </div>
        <div class="form-group">
          <label>Espiritual</label>
          <textarea formControlName="proyectoEspiritual"></textarea>
        </div>
        <div class="form-group">
          <label>Académico</label>
          <textarea formControlName="proyectoAcademico"></textarea>
        </div>
        <div class="form-group">
          <label>Social</label>
          <textarea formControlName="proyectoSocial"></textarea>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button type="button" class="btn-secondary">Cancelar</button>
      <button type="submit"
  class="btn-success"
  >
  {{ datosF1 ? 'Actualizar Entrevista' : 'Guardar Evaluación' }}
</button>
    </div>
  </form>
</div>

<!-- NOTIFICACIÓN INTEGRADA (TOAST) -->
<div class="in-app-toast fade-in" *ngIf="mensajeInApp" [class.toast-error]="mensajeInApp.tipo === 'error'">
  <div class="toast-content">
    <span class="toast-icon">{{ mensajeInApp.tipo === 'success' ? '✅' : '❌' }}</span>
    <p>{{ mensajeInApp.texto }}</p>
  </div>
</div>