<div class="container">

  <form [formGroup]="notaEvolucionForm" (ngSubmit)="onSubmit()" class="form-card">

    <h2>Nota de Evaluación</h2>

    <div class="form-grid">

      <div class="form-group">
        <label>Sesión</label>
        <input type="number" formControlName="numSesion">
      </div>

      <div class="form-group">
        <label>Fecha</label>
        <input type="date" formControlName="fecha">
      </div>

      <div class="form-group">
        <label>Hora</label>
        <input type="time" formControlName="hora">
      </div>

      <div class="form-group" *ngIf="!esSesionAvanzada()">
        <label>Próxima sesión</label>
        <input type="date" formControlName="fechaProximaSesion">
      </div>

      <div class="form-group full-width">
        <label>Objetivo</label>
        <textarea formControlName="objetivoSesion"></textarea>
      </div>

      <div class="form-group full-width">
        <label>Conducta</label>
        <textarea formControlName="conductaDisposicion"></textarea>
      </div>

      <div class="form-group">
        <label>Tema</label>
        <input type="text" formControlName="tema">
      </div>

      <div class="form-group" *ngIf="!esSesionAvanzada()">
        <label>Estrategia</label>
        <input type="text" formControlName="estrategia">
      </div>

      <div class="form-group full-width">
        <label>Intervención</label>
        <textarea formControlName="resumenSesion"></textarea>
      </div>

      <div class="form-group full-width" *ngIf="!esSesionAvanzada()">
        <label>Plan</label>
        <textarea formControlName="planTerapeutico"></textarea>
      </div>

      <div class="form-group full-width" *ngIf="!esSesionAvanzada()">
        <label>Actividades</label>
        <textarea formControlName="actividadesAsignadas"></textarea>
      </div>

      <div class="form-group full-width">
        <label>Observaciones</label>
        <textarea formControlName="observaciones"></textarea>
      </div>

      <div class="form-group">
        <label>Avance</label>
        <select formControlName="avancePercibido">
          <option value="INICIAL">Inicial</option>
          <option value="MEDIO">Medio</option>
          <option value="EXCELENTE">Excelente</option>
        </select>
      </div>

    </div>

    <div class="button-container">
      <button type="submit" class="btn-success" [disabled]="loading">
        {{ loading ? 'Guardando...' : 'Guardar' }}
      </button>
    </div>

  </form>

</div>