/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 🔥 ESTO ELIMINA LOS ESPACIOS */
   box-sizing: border-box;
  background-color: #f3f4f6;
}